services:
  agent:
    build:
      context: ./${AGENT_NAME}
      dockerfile: .build/Dockerfile
    image: ${AGENT_NAME}_image
    volumes:
      - ./${AGENT_NAME}:${CONTAINER_VOLUME:-/app}
      - ./messages:${MESSAGE_DIR:-/app/messages}
    secrets:
      - gcp_access_key
    working_dir: ${CONTAINER_VOLUME:-/app}
    ports:
      - "${AGENT_PORT:-8080}:${AGENT_PORT:-8080}"
    environment:
      - AGENT_NAME=${AGENT_NAME:-your_agent_name}
      - AGENT_ROLE=${AGENT_ROLE:-your_delta_role}
      - AGENT_PORT=${AGENT_PORT:-your_delta_port}
      - MESSAGE_DIR=${MESSAGE_DIR:-/app/messages}
      - GITHUB_MCP_PAT=${GITHUB_MCP_PAT:-my_github_token}
      - GOOGLE_CLOUD_PROJECT=${GOOGLE_CLOUD_PROJECT:-your_gcp_project}
      - GOOGLE_CLOUD_LOCATION=${GOOGLE_CLOUD_LOCATION:-us-central1}
    # command: ["bash", "run.sh"]
    stdin_open: true
    tty: true

secrets:
  gcp_access_key:
    file: ./${GCP_ACCESS_KEY}
